# File system junk files
Desktop.ini
Thumbs.db
.DS_Store
._*
.Spotlight-V100
.Trashes
.apdisk
.fseventsd
.Trash-*


# Editor files
*.sublime-*
.netrwhist
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
.c9
.idea/

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Application specific files
node_modules/
bower_components/
node_modules/
npm-debug.log
yarn-error.log
